@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  margin: 0;
  font-family: 'Silkscreen', sans-serif;
  background-color: #f8f5fc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Silkscreen', sans-serif;
}

